<h1>
    <a id="installation-and-update" class="anchor" href="#installation-and-update" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Installation and Update</h1>
<p>The easiest way is to use Shopunity.net extension to install the module.</p>
<h3>
    <a id="shopunity-recomended" class="anchor" href="#shopunity-recomended" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><a href="https://shopunity.net">Shopunity</a> (recomended)
</h3>
<ol>
    <li>In Shopunty module search for SEO module and click install</li>
    <li>After installation is complete click Admin</li>
    <li>Click install inside the SEO module to complete the installation.</li>
</ol>
<h3>
    <a id="extension-installer-shopunity-module-required" class="anchor"
       href="#extension-installer-shopunity-module-required" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Extension
    Installer (shopunity module required)
</h3>
<ol>
    <li>Go to Admin / Extensions / Extension Installer</li>
    <li>Upload zip archive</li>
    <li>Go to Admin / Extensions / Modules</li>
    <li>Next to SEO module Click install</li>
    <li>Edit SEO module</li>
    <li>Click install to complete the installation process.</li>
</ol>
<h3>
    <a id="ftp-shopunity-module-required" class="anchor" href="#ftp-shopunity-module-required" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>FTP (shopunity module required)
</h3>
<ol>
    <li>Upload all the files from the folder upload</li>
    <li>Go to Admin / Extensions / Modules</li>
    <li>Next to SEO module Click install</li>
    <li>Edit SEO module</li>
    <li>Click install to complete the installation process.</li>
</ol>
<h3>
    <a id="update" class="anchor" href="#update" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Update
</h3>
<p>You can update practically the same way as you have install the module. Only you will not need to click the final
    install inside the module since the module has already been installed. Though if the new version of the module
    locates missing parts, it will display an update button.</p>