.content{
    padding: 0px;
    padding-bottom: 30px;
    margin: 0px;
    .page-header{
        margin-bottom: 65px;
        margin-top: 0px;
        border: none;
        padding-bottom:0px;
    }
}
.signup{
    padding: 100px 0px;
    background: #e8f4eb;
}